<h2>This is page 2</h2>
<p>Content from html file</p>
<div class="table-responsive">
  <form [ngFormModel]="formGroup">
    <label>Title</label><input type="text" class="form-control" ngControl="title"/>
    <label>Count</label><input type="number" class="form-control" ngControl="count"/>
    <button class="btn" (click)="addTitle()">Add</button>
  </form>
  Searching for: {{search.value}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Title</th>
        <th>Count</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="#item of items; #i = index;">
        <td>{{i}}</td>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.count}}</td>
        <td>{{item.date | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>