<h1>Forms</h1>
<form [ng-form-model]="formGroup">
	<div ng-control-group="name">
		<p>First: <input ng-control="first">
			<span *ng-if="!ctrlFirst.valid"> [required]</span>
		</p>
		<p>Last: <input ng-control="last">
			<span *ng-if="!ctrlLast.valid"> [required]</span>
		</p>
	</div>
	<p>Email: <input ng-control="email">
		<span *ng-if="!ctrlEmail.valid && ctrlEmail.dirty"> [Not a Computas email]</span>
	</p>
</form>
<div *ng-if="formGroup.valid">Bazinga!</div>
<div *ng-if="formGroup.dirty">Dirty, dirty, dirty...</div>