<h1>Forms</h1>
<form [ngFormModel]="formGroup">
	<div ngControlGroup="name">
		<p>First: <input ngControl="first">
			<span *ngIf="!ctrlFirst.valid"> [required]</span>
		</p>
		<p>Last: <input ngControl="last">
			<span *ngIf="!ctrlLast.valid"> [required]</span>
		</p>
	</div>
	<p>Email: <input ngControl="email">
		<span *ngIf="!ctrlEmail.valid && ctrlEmail.dirty"> [Not a Computas email]</span>
	</p>
</form>
<div *ngIf="formGroup.valid">Bazinga!</div>
<div *ngIf="formGroup.dirty">Dirty, dirty, dirty...</div>