<style>
	.fill-remaining-space {
		flex: 1 1 auto;
	}
</style>
<md-toolbar color="secondary" class="navbar-fixed-top">
	<button md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
	<span class="fill-remaining-space"></span>
	<form class="navbar-form navbar-right">
		<md-input name="search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="search.value"></md-input>
	</form>
</md-toolbar>
  <md-sidenav-layout>
    <md-sidenav #sidenav (open)="mybutton.focus()">
      Start Sidenav.
      <br>
      <button md-button #mybutton (click)="sidenav.close()">Close</button>
    </md-sidenav>
	<router-outlet></router-outlet>
  </md-sidenav-layout>


<!--<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="Page1">Page 1</a></li>
				<li><a routerLink="Page2">Page 2</a></li>
			</ul>
			    <md-checkbox >
asf
    </md-checkbox>
			<form class="navbar-form navbar-right">
				<input name="search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="search.value">
			</form>
		</div>
	</div>
</nav>
<div style="height:30px">&nbsp;</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Export</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<footer></footer>-->